@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

/*@import "./base/base";
@import "./base/typography";

@import "./components/buttons";*/

/*@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";*/

.bloc {
    display: flex;
    justify-content: center;
}

.logo {
    text-align-last: center;  
    img {
        width: $element;
    }
} 

.position {
    flex-direction: row;
    &__icone {
        width: 10%;
        p {
            margin: 0;
            .fa-map-marker-alt {
               width: 10px; 
            }
        }
    }
}