@import "../utils/variables";

.checkbox {
    width: 17%;
    background-color: #99E2D0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    transform-origin: right ;
    i {
        font-weight: bold;
        color: white;
        font-size: 20px;
        animation: rotate 1.1s ease-in-out;
        transform-origin: center;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
}

.menu {
    .carte:hover {
        .checkbox {
            display: unset;
            transform: scaleX(0px);
            animation: checkbox 1s ease-in-out ;
        }
    }
}



@keyframes rotate {
    0% {
        font-size: 0;
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkbox {
    0% {
        opacity: 0;
        //transform: scaleX(0%);
        width: 0%;
    }
   /* 20% {
        opacity: 0.2;
        //transform: scaleX(2%);
        width: 4%;
    }
    40% {
        opacity: 0.4;
        //transform:  scaleX(6%);
        width: 8%;
    }   
    60% {
        opacity: 0.6;
        //transform:  scaleX(10%);
        width: 12%;
    }
    80% {
        opacity: 0.8;
        //transform:  scaleX(14%);
        width: 14%;
    }*/
    100% {
        opacity: 1;
        //transform:  scaleX(17%);
        width: 17%;
    }
}