.index {
    .footer {
        position: unset;
    }
}

    .footer {
        background-color: #353535;
        color: white;
        background-color: #353535;
        color: white;
        position: absolute;
        top: 82em;
        &--menu {
            margin-left: 20px;
            section {
                @media (min-width: 1440px) {
                    width: 100%;
                }
            }
            a {
                color: white;
            }
        }
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
        @media (min-width: 1440px) {
            margin-left: 60px;
        }
        @media (min-width: 1440px) {
            flex-wrap: nowrap;
            
        }
        i {
            margin-right: 10px;
            width: 3%; 
        }  
    }
    p { 
        font-size: 17px;
        padding-bottom: 5px;
        width: 90%;
        &:first-child {
            font-family: "Shrikhand";
            margin-bottom: 10px;
            padding-top: 25px; 
            -webkit-text-stroke: 0;
            @media (min-width: 1440px) {
                display: flex;
                font-size: 25px;
                justify-content: center;
                margin-bottom: 20px;
            }          
        }
    }
}
   