.index {
    .footer {
        position: unset;
    }
}

    .footer {
        background-color: #353535;
        color: white;
        background-color: #353535;
        color: white;
        position: absolute;
        top: 82em;
        &--menu {
            margin-left: 20px;
            a {
                color: white;
            }
        }
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
        i {
            margin-right: 10px;
            width: 3%;   
        }  
    }
    p { 
        font-size: 17px;
        padding-bottom: 5px;
        width: 90%;
        &:first-child {
            font-family: "Shrikhand";
            margin-bottom: 10px;
            padding-top: 25px; 
            -webkit-text-stroke: 0;          
        }
    }
}
   