.logo {
    display: flex;
    text-align-last: center;
    padding-top: 20px;
    text-align-last: start;
    h1 {
        font-family: "shrikhand";
    }
    @media (min-width: 768px) {
        width: 50%;
        //margin-left: 20%;
    } 
} 
