.logo {
    text-align-last: center;
    padding-top: 20px;
    width: 60%;
    text-align-last: start;
    h1 {
        font-family: "shrikhand";
    }
    @media (min-width: 1440px) {
        width: 100%;
        //margin-left: 20%;
    } 
} 
