.reservation {
    background-color: $bg-color-secondary;
    flex-direction: column;
    padding: 7% 6% 13% 6%;
    font-size: 15px;
    text-align: center;
    &__titre h1{
        margin: $no-margin;
        padding: 10px 0 10px 0;
        font-weight: $bold;
    }
    &__btn {
        margin-top: 30px;
        width: 50%;
        align-self: center;
        a {
            text-decoration: none;
            color: $font-color-secondary;
            p {
                -webkit-text-stroke: 0.5px;
            }
        }
    }
}