
.restaurant {
    flex-direction: column;
    background-color: $bg-color-secondary;
    padding: 50px 0 40px 0;
    &--position-titre {
        margin:0 0 20px 20px;
    }
    &__carte figure {
        background-color: white;
        box-shadow: 1px 1px 10px 2px #c3c3c3;
        border-radius: 20px;
        margin: 10px 20px 4% 20px;
    }
    &__carte
        .notif-nouveau {
            border-style: none;
            background-color: $bg-color-tertiary;
            width: 20%;
            z-index: 1;
            position: absolute;
            padding: 4px;
            right: 35px;
            margin-top: 10px;
            p {
                font-size: 15px;
                text-align: center;
                color: #008766;
            }
        } 
        img {
            width: 100%;
            object-fit: cover;
            border-top-right-radius:20px ;
            border-top-left-radius: 20px;
            height: 167px;
        }
        figcaption {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 10px 0 15px;
            .heart {
                width: 10%;
            }
            p {
                margin: 0 0 5px 0;
                -webkit-text-stroke: 0;
            }

        }
        
}

.bg-img-restaurant {
    img {
        width: 100%;
    }
}