@import "../utils/variables";

body {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
    h1 {
        font-family: "Shrikhand";
        margin: 0 0 10px 0;
        font-size: 27px;
        }
    h2 {
        font-family: "shrikhand";
        -webkit-text-stroke:unset;
    }
}





h2,p,h3,h4 {
    margin: 0;
    -webkit-text-stroke: 1px;
}

h3 {
    font-size: 20px;
    margin:30px 0 10px 0;
    width: 90%;
}

.menu {
    h3 {
        border-bottom: solid;
        border-color: #99E2D0;
        width: 15%;
        text-transform: uppercase;
    }
}

.reservation__btn {
    p {
        -webkit-text-stroke: 0.5px;
    }
}

a {
    text-decoration: none;
    color: $font-color;
    p {
        color: white;
    }
    &:visited {
        color: $font-color;
    }
}

