h1 {
    font-family: "Shrikhand";
    margin: 0 0 10px 0;
    font-size: 27px;
}

h2,p,h3 {
    margin: 0;
    -webkit-text-stroke: 1px;
}

h3 {
    font-size: 20px;
    margin:10px 0 10px 0;
    width: 90%;
}
