@import "../utils/variables";
@import "../utils/mixins";

// section qui regroupe l'image et les menus du restaurant
.liste-menu {
    flex-direction: column;
    &__entrée {
        padding-top: 20px;
    }
    img {
        @media (min-width: 1440px) {
            height: 35em;
            object-fit: cover;
        }
    }
}

// div dans lequelle se trouve les menus et le nom du restaurant
.menu {
    margin-top: -45px;
    border: none;
    background-color: $bg-color-secondary;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 30px 0 110px 17px;
    @media (min-width: 1440px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 10em;
    }
    &__section {
        @media (min-width: 1440px) {
            width: 33%;
        }
    }
    .carte {
        display: flex;
        background-color: white;
        border-radius: 1em;
        border-style: none;
        box-shadow: 0px 0px 11px 2px darken($color: $bg-color-secondary, $amount: 20%) ;
        figcaption {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 13px 10px 13px 10px;
            width: 95%;
            h4,p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            h4 {
                width: 100%;
                margin-bottom: 8px;
            }
            p {
                font-size: 15px;
                width: 90%;
                &:last-child {
                    width: 10%;
                    font-weight: bold;
                }
            }
            
        }
        
    }
    // div qui regroupe le nom du restaurant et l icone 
    .nom-restaurant {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: 1440px) {
            width: 100%;
            @include responsive-h2;
        }
    }
}


// animation qui fait apparaître les menus progressivement
.menu {
    &__entree {
        @include animation-menu ;
        animation: apparition-menu 1.7s ease-in-out;
    }
    &__plat {
        @include animation-menu ;
        animation: apparition-menu 1.5s ease-in-out  ;
    }
    &__dessert {
        @include animation-menu ;
        animation: apparition-menu 1s ease-in-out ;
    }
}

@keyframes apparition-menu {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    33% {
        opacity: 0.2;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
        transform: translateY(1);
    }

}
