@import "_variables.scss";

@mixin hover-fonctionnement {
    ul { 
        background-color: $bg-color-hover;
    }
    i {
        color: $bg-color-primary;
    }
}

@mixin btn-gradient {
    background: linear-gradient(0deg, $color-gradient-start, $color-gradient-end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin animation-menu {
    opacity: 1;
    transform-origin: bottom;
}