
@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}