$logo : 80%;
$element : 50%;
$font-color:#001534;
$font-color-secondary: #FFFFFF;
$bg-color-secondary : #f6f6f6;
$bg-color-primary : #9356dc;
$bg-color-tertiary : #99E2D0;
$bg-color-hover : #f5edff ;
$bg-color-position: #eaeaea;
$no-margin:0;
$box-shadow-header: inset 0px 4px 3px 0px darken($bg-color-position,10% ) ;
$box-shadow-fonctionnement : 0px 4px 3px 0px darken($bg-color-position,10% ) ;
$bold : bold;
$btn-gradient: linear-gradient(0deg, rgba(147,86,220,1) 12%, rgba(203,86,220,1) 100%);