$logo : 80%;
$element : 50%;
$font-color:#001534;
$font-color-secondary: #FFFFFF;
$bg-position-color : #f6f6f6;
$bg-color-primary : #9356DC;
$bg-color-secondary: #eaeaea;
$no-margin:0;
$box-shadow-header: inset 0px 4px 3px 0px darken($bg-position-color,10% ) ;
$bold : bold;
$btn-gradient: linear-gradient(0deg, rgba(147,86,220,1) 12%, rgba(203,86,220,1) 100%);